@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --fonte2: "Lobster Two", cursive;
  }

.signUpForms {
    width: 50%;
    text-align: center;
    background-color: #d9d9d9;
    color: #3f3f46;
    padding-bottom: 20px;
}

input {
    padding: 10px;
    width: 70%;
    background-color: #CCCC;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

input[type="submit"] {
    background-color: #289C8E;
    width: 50%;
    color: white;
    font-size: large;
}

h1 {
    font-family: var(--fonte2);
}