/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
  --fonte1: "Orbitron";
}

.Home-header {
  background-color: #2fc4b2;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

p {
  font-family: var(--fonte1);
  font-weight: 600;
}

li {
  display: inline;
  padding:8px;
  float: left;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 5px;
}

a:hover {
  border-radius: 15px;
  background-color: #117C6F;
  transition: 1.5s;
}
